*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/YPX_ImagePicker_androidx/.idea
/YPX_ImagePicker_androidx/imagepicker/.idea
/YPX_ImagePicker_support/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/release/
/keystore.jks
/imagepicker/.idea/
